
@{ 
    Layout = null;
}
@section Menu {
    @Scripts.Render("~/Scripts/Tables/Data/menu")
}

@Styles.Render("~/AdminLTE/plugins/datatables/css")
@Styles.Render("~/AdminLTE/plugins/font-awesome/css")
@Styles.Render("~/AdminLTE/plugins/ionicons/css")
@Styles.Render("~/AdminLTE/bootstrap/css")
@Styles.Render("~/AdminLTE/dist/css")
@Styles.Render("~/AdminLTE/dist/css/skins")
@Scripts.Render("~/AdminLTE/plugins/jquery/js")

@Scripts.Render("~/AdminLTE/bootstrap/js")
@Scripts.Render("~/AdminLTE/plugins/slimscroll/js")
@Scripts.Render("~/AdminLTE/plugins/fastclick/js")
@Scripts.Render("~/Scripts/Shared/_Layout")
@Scripts.Render("~/AdminLTE/dist/js")

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HLI</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

</head>

<header class="main-header">
    <a href="@Url.Action("Dashboard", "Home")" class="logo">
        <span class="logo-mini"><b>H</b>li</span>
        <span class="logo-lg">
            <b>H</b>li
        </span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
            </ul>
        </div>
    </nav>
</header>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="box box-default" style="padding:10px">
        <div class="box-header with-border">
            <h3 class="box-title">Recherche avancée</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Date début</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Creé par</label>
                        <select class="form-control select2" style="width: 100%;">
                            <option selected="selected">Creé par</option>
                            <option>HLI</option>
                            <option>California</option>
                            <option>Delaware</option>
                            <option>Tennessee</option>
                            <option>Texas</option>
                            <option>Washington</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Date fin</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Réouverte</label>
                        <select class="form-control select2" style="width: 100%;">
                            <option selected="selected">Oui</option>
                            <option>Non</option>


                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Client</label>
                        <input type="text" value="" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Reporté</label>
                        <select class="form-control select2" style="width: 100%;">

                            <option selected="selected">Oui</option>
                            <option>Non</option>

                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Raison de statut</label>
                        <select class="form-control select2" style="width: 100%;">
                            <option selected="selected">Alabama</option>
                            <option>Alaska</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <select class="form-control select2" style="width: 100%;">
                            <option selected="selected">Alabama</option>
                            <option>Alaska</option>
                            <option>California</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Projets</label>
                        <select class="form-control select2" style="width: 100%;">
                            <option selected="selected">Alabama</option>
                            <option>Alaska</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label>Priorités</label>
                        <select class="form-control select2" style="width: 100%;">
                            <option selected="selected">Alabama</option>
                            <option>Alaska</option>

                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Statuts</label>
                        <select class="form-control select2" style="width: 100%;">
                            <option selected="selected">Alabama</option>
                            <option>Alaska</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Concerne</label>
                        <select class="form-control select2" style="width: 100%;">
                            <option selected="selected">CRM</option>
                            <option>Autres</option>
                        </select>
                    </div>
                </div>
                
                    
                    <div class=""  style=" float:right ; padding-right:100px">

                       
                        <button type="button" class="btn btn-block btn-danger btn-flat" style=" width:100px ; float:right">Annuler</button>

                    </div>
                
            </div>
        </div>

    </div>

    <div class="row" style="padding:10px">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div>
                        <div >
                            <button type="button" class="btn btn-block btn-info btn-flat" style="width: 150px; float: left; padding-left: 10px ">Ajouter Demande</button>
                        </div>
                        <div style="padding-right: 100px; margin-left: 200px;">
                            <button type="button" class="btn btn-block btn-warning btn-flat" style="width: 150px; float: left;">Exporter</button>
                        </div>
                        <div style="padding-right:100px">
                            <button type="button" class="btn btn-block btn-danger btn-flat" style="width: 100px; float: right ">Annuler</button>
                        </div>
                            <div class="form-group" style="margin-left: 500px;">
                                <select class="form-control " style="width: 200px;">
                                    <option selected="selected">10</option>
                                    <option>Autres</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">

                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Date de création</th>
                                        <th>Numéro</th>
                                        <th>Titres</th>
                                        <th>Clients</th>
                                        <th>Crée par</th>
                                        <th>Projets</th>
                                        <th>Types</th>
                                        <th>Status</th>
                                        <th>Raison de statut</th>
                                        <th>Priorités</th>
                                        <th>Nombre réouverture</th>
                                        <th>Nombre report</th>
                                        <th>Dernier commentaire</th>
                                        <th>Date limite</th>
                                        <th>Date critique</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>

                            </table>
                        </div>
                    </div>
        </div>
    </div>

</body>

</html>

@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/datatables/js")
    @Scripts.Render("~/Scripts/Tables/Data")
}

